/* Tüm sayfanın ortalanması */
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f9;
}

.card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 350px;
  max-width: 100%;
}

.title {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 20px;
}

.file-input {
  margin-bottom: 15px;
}

.canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  margin: 0 auto 20px auto; /* Canvas container'ı ortalamak için */
  width: 300px; /* Sabit genişlik */
  height: 300px; /* Sabit yükseklik */
  background-color: #fafafa;
}

.image-canvas {
  display: block;
  margin: 0 auto;
}

.dpi-label {
  margin-bottom: 15px;
  font-size: 1rem;
  display: block;
}

.dpi-input {
  margin-left: 10px;
  padding: 5px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.save-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 15px;
  transition: background-color 0.3s ease;
}

.save-button:hover {
  background-color: #45a049;
}
